{% extends "dashboard/base.html" %}
{% load static %}

{% block title %}Banka{% endblock %}

{% block extra_head %}
  <style>
    *{box-sizing:border-box}
  </style>
{% endblock %}

{% block content %}
  <div style="padding:20px;">
    <h1 style="text-align:center;color:#206d7d;margin:10px 0;font-size:20pt;font-weight:bold;">BANKA</h1>
    <p>Bu sayfa şu an boş. İçerik sonra eklenecek.</p>
  </div>
{% endblock %}

{% block extra_scripts %}
  <script>
    $(document).ready(function() {
      // Sayfa özel JavaScript kodları buraya eklenecek
    });
  </script>
{% endblock %}
